fastapi==0.115.12
filelock==3.18.0
httpx==0.28.1
jinja2==3.1.6
pydantic==2.11.5
pydantic-settings==2.9.1
python-multipart==0.0.20
pyyaml==6.0.2
razorpay==1.4.2
uvicorn==0.34.2
pytest==8.3.5
pytest-asyncio==0.26.0
ruff==0.11.11

